.main{
    background:#303030;
    height:1200px;
    width:100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.main{
    .row{
        padding-top:30%;
        form{
            width:100%;
            padding:11%;
            label{color:#fff}
            input{height:60px;}
        }
        .logindiv{
            width:100%;
            height:100px;
            text-align:center;
            button{width:60%;height:55px;}
        }
        .words{
            margin-top:-10px;
            color:rgba(255,255,255,0.7);
            width:100%;
            text-align:center;
        }
    }
}