.main {
    background: #303030;
    height: 1200px;
    width: 100%;
    -webkit-app-region: drag;

    #main-delete {
        position: relative;
        display: inline-block;
        margin-left: 95%;
        -webkit-app-region: no-drag;
        top: 1px;
        right: 8px;
        cursor: pointer;
        width: 30px;
        height: 30px;
        color: #fff;
        font-size: 25px;
    }
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}


.main {


    .logo {
        width: 100%;
        height: 90px;
        padding-top: 15%;
        text-align: center;
        -webkit-app-region: drag;

        img {
            width: 45%;
            height: auto;
        }
    }

    .row-nav {
        padding-top: 3%;
        -webkit-app-region: drag;

        form {
            width: 100%;
            padding: 11%;

            label {
                color: #fff
            }

            input {
                -webkit-app-region: no-drag;
                height: 40px;
            }
        }

        .logindiv {
            width: 100%;
            height: 100px;
            text-align: center;

            button {
                -webkit-app-region: no-drag;
                width: 60%;
                height: 40px;
            }
        }

        .words {
            margin-top: -10px;
            color: rgba(255, 255, 255, 0.7);
            width: 100%;
            text-align: center;
        }
    }
}